body {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

.shop-item h1 {
  font-size: 30px;
  line-height: 42px;
}

.item h2 {
  font-size: 14px;
  line-height: 18px;
}

html,
body {
  min-width: 1200px;
  min-height: 1162px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 50px;
}

.logo {
  float: left;
  width: 140px;
  margin-right: 20px;
  min-height: 72px;
}

.main-navigation {
  float: left;
  widht: 620px;
  min-height: 72px;
}

.user-block {
  float: right;
  width: 140px;
  min-height: 72px;
}

.shop-item {
  width: auto;
  min-height: 71px;
  margin-bottom: 42px;
}

.search-catalog {
  font-size: 14px; 
  line-height: 18px;
  float: left;
  width: 220px;
}

legend h2 {
  font-size: 24px; 
  line-height: 30px;
}

.filter ul {
  margin-top: 22px;
}

.brand {
  width: auto;
  min-height: 260px;
}

.brand li {
  margin-bottom: 17px;
}

.items-group {
  width: auto;
  margin-top: 22px;
  min-height: 168px;
}

.items-group li {
  margin-bottom: 17px;
}

.btn-show-place {
  margin-top: 35px;
  min-height: 45px;
}

.catalog-items {
  float: right;
  width: 700px;
  padding-top: 6px;
}

.catalog-items {
  font-size: 0px;
}

.item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 19px;
  min-height: 287px;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.pagination {
  margin-top: 26px;
  font-size: 14px;
  line-height: 18px;
  min-height: 45px;
}

.main-footer {
  margin-top: 49px;
  padding-top: 59px;
  padding-bottom: 38px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 93px;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 93px;
}

.footer-copyright {
  float: right;
  width: 160px;
  min-height: 93px;
}

.product-left-column {
  float: left;
  width: 460px;
  min-height: 670px;
  padding-top: 6px;
}

.main-img{
  width: 460px;
  min-height: 498px;
}

.bottom-gallery-item {
  font-size: 0px;
}

.bottom-gallery-item img{
  display: inline-block;
  vertical-align: top;
  width: 140px;
  min-height: 149px;
  margin-right: 20px;
  margin-top: 14px;
  min-height: 149px;
}

.bottom-gallery-item img:last-child {
  margin-right: 0;
}

.product-right-column {
  float: right;
  width: 390px;
  min-height: 649px;
  padding-top: 25px;
}

.top-box {
  widht: auto;
  min-height: 20px;
  margin-bottom: 31px;
}

.info-item {
  widht: auto;
  min-height: 142px;
  margin-bottom: 39px;
}

.price-btn {
  widht: auto;
  min-height: 43px;
  margin-bottom: 66px;
}

.Ñomp-item {
  widht: auto;
  min-height: 170px;
}
















body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}




















